body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

:root {
  font-size: 62.5%; /* 1rem = 10px */
}
.dados {
  margin-top: 11rem;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.dados .formulario input {
  display: block;
  margin-top: 1rem;
}
.dados .formulario .genero {
  display: inline;
  margin-left: 1rem;
}
.dados .formulario .data {
  display: block;
  margin-top: 1rem;
}
form {
  font-size: 1.8rem;
}
.sexo {
  font-size: 2rem;
  font-weight: 100;
}
